/****************
  Basic
****************/

:root {
  font-family: system-ui, sans-serif;
  font-size: 32px;
  cursor: none;
  --bgColour: black;
  --primaryColor: rgb(220, 220, 220);
  --secondaryColor: rgb(122, 122, 122);
  --textColor: var(--secondaryColor);
  --cursor: url(laser_pointer.png) 16 16, default;
}

body {
  background-color: var(--bgColour);

  &.laser-pointer {
    cursor: var(--cursor);
  }
}

* {
  color: var(--textColor);
}

section {
  background-color: var(--bgColour);
  box-sizing: border-box;
  padding: 3rem 2rem;
  overflow: scroll;
  position: fixed;
  inset: 0;
}

h1 {
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2rem;
  margin: 0.5em -1rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.1rem;
  margin: 1em -1rem;
  font-style: italic;
}

p {
  margin: 1em 0;
}

/****************
  Indicator
****************/

section::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 1px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
}

section:has([hs-f]:not(.focus-trace))::after {
  background-color: transparent;
}

section:not(:has(+ section))::after {
  border-radius: 1px;
}

/****************
  Dynamic
****************/

:where(section:not(.current)) {
  display: none;
}

section.current {
  display: block;
  animation: fade-in 500ms ease-in-out 0ms 1 normal forwards;
}

:where(:is([hs-f], [hs-fa]):not(.p)) {
  visibility: hidden;
}

.focus-trace {
  visibility: visible;
  animation: fade-in 250ms ease-in-out 0ms 1 normal forwards;
}

.current-focus,
section:not(:has(.current-focus)) {
  --textColor: var(--primaryColor);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
