:root {
  font-family: "Nordnet Sans Mono",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  font-size: 32px;
  cursor: default;
  --transitionDuration: 500ms;
  --bgColour: black;
  --textColour: rgb(220, 220, 220);
  --secondaryTextColour: rgb(122, 122, 122);
}

* {
  transition-property: all;
  transition-duration: var(--transitionDuration);
}

.light-mode {
  --bgColour: white;
  --textColour: black;
}

html,
body {
  overflow: hidden;
}

body {
  background-color: var(--bgColour);
  color: var(--secondaryTextColour);
}

.slide-deck {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 2rem;
  scroll-snap-align: start;
  border-bottom: 1px solid var(--secondaryTextColour);
  overflow: scroll;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: var(--secondaryTextColour);
}

h2 {
  font-size: 1.2rem;
  margin: 0.5em -1rem;
  font-weight: bold;
  color: var(--secondaryTextColour);
}

h3 {
  font-size: 1.1rem;
  margin: 1em -1rem;
  font-style: italic;
  color: var(--secondaryTextColour);
}

p {
  font-size: 1rem;
  margin: 1em 0;
}

ul,
ol {
  margin-left: 1rem;
  list-style-position: outside;

  li {
    margin: 0.5em 1em;
    width: max-content;
  }
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

.animate-in {
  opacity: 0;
}

.animated-in {
  opacity: 1;
}

.focus, .focus-sticky {
  color: var(--textColour);
}

 .focus::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1em;
  display: flex;
  width: 0px;
  border: 1px solid white;
}
